@page
@using ExamMagazinAspNetRazorPage.Pages
@using ExamMagazinAspNetRazorPage.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model ClientRazorModel
@{
}
<p>вы на странице клиента </p>
<p><a asp-page="/IndexAdmin">страница редактирования базы данных</a></p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список клиентов</title>
    <style>
        .element-table {
            border-collapse: collapse;
            width: 100%;
        }

            .element-table th, .element-table td {
                border: 1px solid black;
                padding: 10px;
                text-align: center;
            }
    </style>
</head>
<body>

    <h1>Список клиентов только для администратора</h1>
    <table class="element-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>почтовый ящик</th>
                <th>заказ</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Client client in Model.clients)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.Name</td>
                    <td>@client.LastName</td>
                    <td>@client.Email</td>
                    <td>@client.Order</td>
                    <td>
                        <a asp-page="/ClientRazorAdd" asp-route-id="@client.Id">Add</a>
                        <a asp-page="/ClientRazorDelete" asp-route-id="@client.Id">Delete</a>
                        <a asp-page="/ClientRazorEdit" asp-route-id="@client.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>