@page
@model ExamMagazinAspNetRazorPage.Pages.IndexModel
@using ExamMagazinAspNetRazorPage
@using ExamMagazinAspNetRazorPage.Models
@using ExamMagazinAspNetRazorPage.Pages
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн-магазин</title>
    <link rel="stylesheet" href="@(nameof(ExamMagazinAspNetRazorPage)).Index.cshtml.css">
    <link href="Index.cshtml.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1 align="center">Магазин электротехнических изделий кабельная продукция</h1>
        <div class="cart">
            Корзина: <span id="cart-count">0</span> товаров
        </div>
        <p><a asp-page="/AutorizationRazor">Администрирование</a></p>

    </header>

    <main>
        <section id="products">
            <div class="product">
                <div class="img-div">
                    <h2>Кабель силовой ВВГ-Пнг(А)-LS 3х2.5 (N,PE)-0.660 плоский однопроволочный</h2>
                    <p class="left">Цена: 68.30 ₽/м</p>
                </div>
                <button onclick="addToCart('Кабель силовой ВВГ-Пнг(А)-LS 3х2.5 (N,PE)-0.660 плоский однопроволочный')">Добавить в корзину</button>
            </div>
            <div class="product">
                <h2>Кабель силовой ВВГнг(А)-LS 5х1,5ок(N,PE)-0,66 бухта 100м</h2>
                <p>Цена: 128.89 ₽/м</p>
                <button onclick="addToCart('Кабель силовой ВВГнг(А)-LS 5х1,5ок(N,PE)-0,66 бухта 100м')">Добавить в корзину</button>
            </div>
            <div class="product">
                <h2>Кабель силовой ВВГнг(А)-LS 5х16 (N. PE) -0.660 однопроволочный</h2>
                <p>Цена: 1136.51 ₽/м</p>
                <button onclick="addToCart('Кабель силовой ВВГнг(А)-LS 5х16 (N. PE) -0.660 однопроволочный')">Добавить в корзину</button>
            </div>
        </section>
    </main>

    @foreach (var item in Model.products)
    {
        <tr align="center">
            <td align="center">
                <a asp-page="cart" asp-page-handler="delete" asp-route-id="@item.Id">X</a>
            </td>
            <td>| Id товара - @item.Id |</td>
            <td>  Порядковый номер товара - @item.Number |</td>
            <td>  Имя товара - @item.Name |</td>
            <td>  Цена за ед.товара - @item.Price |</td>
            <td>  Кол-во ед.товара - @item.Quantity |</td>
            <td>  Общая цена товара - @(item.Price * item.Quantity) |

        </tr>
        <p></p>
    }
    <script>
        // добавление продукта в корзину
        let cartCount = 0;

        function addToCart(productName) {
            cartCount++;
            document.getElementById('cart-count').innerText = cartCount;
            alert(productName + ' добавлен в корзину!');
        }

    </script>
</body>
</html>

